.not_found_title {
  text-shadow: 1px 1px var(--light_grey_color), 1px 1px 1px var(--light_grey_color),
    1px 2px 1px var(--light_grey_color), 1px 3px 1px var(--light_grey_color),
    1px 4px 1px var(--light_grey_color), 1px 5px 1px var(--light_grey_color),
    1px 6px 1px var(--light_grey_color), 1px 7px 1px var(--light_grey_color),
    1px 8px 1px var(--light_grey_color), 1px 9px 1px var(--light_grey_color),
    1px 10px 1px var(--light_grey_color), 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2);

  font-size: 20rem;
  color: var(--light_green_color);
  font-weight: 700;
}
.not_found_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.not_found_container span {
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .not_found_title {
    font-size: 12rem;
  }
}